---
title: "Curriculum Vitae"
permalink: /cv/
---

<h4 id="work">Work experience</h4>
{% for w in site.data.work %}
  <du>
    <dt>{{ w.time }}</dt>
    <dd>{{ w.title }}</dd>
  </du>
{% endfor %}

<h4 id="education">Education</h4>
{% for e in site.data.education %}
  <du>
    <dt>{{ e.time }}</dt>
    <dd>{{ e.title }}</dd>
  </du>
{% endfor %}

<h4 id="skills">Skills</h4>
{% for feature_row in site.data.skills %}
<!-- {% include feature_row %} -->

  <div class="feature__wrapper">
    {% for f in feature_row.items %}

      <div class="feature__item" style="padding: 16px 64px">
        <div class="archive__item-teaser">
          <img src="/assets/img/icons/{{ f.image_path }}" alt="{{ f.title }}"></img>
        </div>

        <div class="archive__item-body">
          {% if f.url %}
            <p><a href="{{ f.url }}" class="btn" target="_blank">{{ f.title }}</a></p>
          {% endif %}

          <div title="{{ f.level }}">
            {% if f.level == 'beginner' %}
              <i class="fa-solid fa-star orange"></i>
              <i class="fa-solid fa-star lightgrey"></i>
              <i class="fa-solid fa-star lightgrey"></i>
            {% endif %}
            {% if f.level == 'advanced' %}
              <i class="fa-solid fa-star orange"></i>
              <i class="fa-solid fa-star orange"></i>
              <i class="fa-solid fa-star lightgrey"></i>
            {% endif %}
            {% if f.level == 'expert' %}
              <i class="fa-solid fa-star orange"></i>
              <i class="fa-solid fa-star orange"></i>
              <i class="fa-solid fa-star orange"></i>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}