<div>
    <h4>Publications</h4>
    <div class="row d-flex justify-content-between">
        <div class="col-md-5">
            <div class="form-inline">
                <input class="form-control" ng-model="$ctrl.query" placeholder="Search" />
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <div class="form-inline">
                <label for="sortBy" style="margin-right:5px">Sort by: </label>
                <select id="sortBy" class="form-control" ng-model="$ctrl.orderProp">
                        <option value="author.family">First author</option>
                        <option value="title">Title</option>
                        <option value="-year">Newest</option>
                </select>
            </div>
        </div>
    </div>

    <ul class="publications" style="min-height:400px">
        <li ng-repeat="publication in $ctrl.publications | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <span><a target="_blank" href="https://doi.org/{{publication.doi}}">{{publication.title}}</a></span>
            <span ng-repeat="author in publication.authors | limitTo : publication.authors.length-2">{{author.family}} {{author.given | limitTo: 1}}, </span>
            <span ng-repeat="author in publication.authors | limitTo : 1 : -2">{{author.family}} {{author.given | limitTo: 1}} & </span>
            <span ng-repeat="author in publication.authors | limitTo : 1 : -1">{{author.family}} {{author.given | limitTo: 1}}</span>, 
            <span ng-if="publication.journal_short">{{publication.journal_short}}</span>
            <span ng-if="!publication.journal_short">{{publication.journal}}</span>
            <span>({{publication.year}})</span>
            <span>{{publication.number}}({{publication.volume}}):{{publication.pages}}</span>
        </li>
    </ul>

</div>
