ul.publications {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.publications li {
    margin: 5px 0;
    padding: 5px 0;
}

.jumbotron {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    margin-left: auto;
    border-radius: 0;
}


.title {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2.00px;
}

.panel {
    padding: 25px 0 ;
}
